body.noisy

div.emblem
  span.icon-information

div.frame

  div.piece.output

    h1 Ancient computing

    p Oh how I miss my old TK-85! 
    p CP-200, CP300, CP-500, TRS-COLOR and all those great computers ...
  
    a(href="http://www.computerhistory.org/") See them all here...

  div.piece.scanlines.noclick

  div.piece.glow.noclick
